body
{
	overflow-x: hidden;
}

.collapse .navbar-collapse
{
	float: right;
}

.navbar-header
{
	width: 100%; 
	text-align: center;
}

.navbar-light .navbar-toggler
{
	float: left;
}

.navbar-brand
{
	margin: 0;
}

.navbar-toggler:focus
{
	outline: none; /* allows for better user experience */
}

#shopContainer
{
	width: 100%;
	text-align: center;
}

#backdropLogo
{
	width: 100%;
	margin-left: 25px;
	text-align: center;
}

.vibnBtn
{
	color: white;
	background-color: #262626;
	border: 2px solid white;
	height: 3em;
	padding-left: 70px;
	padding-right: 70px;
	cursor: pointer; /* allows for better user experience */
	transition: all 0.1s linear; /*hover animation */
}

.vibnBtn:hover
{
	transform: scale(1.05); /*hover animation */
}

#mainBackdrop
{
	background-color: #262626;
	align-content: center;
}

.container
{
	padding-top: 70px;
	align-content: center;
	padding-bottom: 10px;
}

.containerTextOnly
{
	padding: 70px;
}

.w-100
{
	cursor: pointer; /* allows for better user experience */
	transition: all 0.1s linear; /*hover animation */
}

.w-100:hover
{
	transform: scale(1.05); /*hover animation */
}

.headingText
{
	color: white;
}

.smallFont
{
	color: white;
}

#blackBackdrop
{
	background-color: #262626;
	align-content: center;
	text-align: center;
	padding: 70px;
}

#submitBtn
{
	width: 100%;
}